label {
display: block;
font: 1rem 'Fira Sans', sans-serif;
margin-top: 5px;
}

input  {
position: absolute;
margin-right: 10px;
margin-top: 10px;
height: 250px;
width: 250px;
}
button{
margin-top: 300px;
}
.area{
position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}
h1{
width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
h2{
width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
